<footer class="siteFooter ui footer segment vertical inverted">
  <div class="ui container">

    <div class="ui stackable inverted equal height stackable grid">

      <div class="row">
        <div class="four wide column">
          <h4 class="ui inverted header">Blesdaze Properties</h4>
          <div class="ui inverted link list">
            <a href="/about-us" class="item">About</a>
            <a href="/services" class="item">Services</a>
            <a href="/contact-us" class="item">Contact Us</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Home Listings</h4>
          <div class="ui inverted link list">
            {{link-to 'For Sale' 'homes' (query-params listingTypeSelection="For Sale") class="item"}}
            {{link-to 'For Rent' 'homes'(query-params listingTypeSelection="Rent") class="item" }}
            {{link-to 'All' 'homes'(query-params listingTypeSelection="All") class="item" }}
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Follow us</h4>
          <div class="ui inverted link list social-links">
            <a href="https://www.facebook.com/blesdazeproperties" class="item" target="_blank">
              <i class="facebook square icon"></i>
              Facebook
            </a>
            <a href="https://www.linkedin.com/in/curtis-watson-1aa34242" class="item" target="_blank">
              <i class="linkedin square icon"></i>
              LinkedIn
            </a>
          </div>
        </div>
        <div class="four wide column siteFooter__address">
          <p>
            Blesdaze Properties LLC<br>
            PO Box 38073<br>
            Charlotte NC 28278-8073<br>
            <a href="tel:+17045265278" title="Blesdaze Properties phone number">704-526-5278</a>
          </p>
        </div>
      </div>

      <div class="siteFooter__copyright credential-images equal width row">
        <div class="column">
          <div class="ui tiny image">
            <img src="images/equal-housing-opportunity-logo.png" alt="Equal Housing opportunity logo">
          </div>
        </div>

        <div class="column">
          <div class="ui small image">
            <img src="images/leading-real-estates-of-the-world-logo.png" alt="Leading Real Estates of the World logo">
          </div>
        </div>

        <div class="column">
          <div class="ui tiny image">
            <img src="images/logo-realtor.png" alt="Realtor logo">
          </div>
        </div>

        <div class="column">
          <div class="ui tiny image">
            <img src="images/rinehart-realty.jpeg" alt="Rinehart Realty company logo">
          </div>
          <div class="content partner-brokerage">
            Partner Brokerage:<br>
            Rinehart Realty<br>
            2879 W. Hwy 160, Suite 100<br>
            Fort Mill, SC 29715<br>
            <a href="tel:+18035485796" title="Blesdaze Properties phone number">803-548-5796</a>
          </div>
        </div>
      </div>

      <div class="siteFooter__copyright row">
        <div class="column copyright-content">
          <p>
            &copy; 2016 Blesdaze Properties LLC. | Site handcrafted by <a href="http://joshbailey.net" target="_blank">Josh Bailey</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
