<footer class="siteFooter ui footer segment vertical inverted">
  <div class="ui container">

    <div class="ui stackable inverted equal height stackable grid">

      <div class="row">
        <div class="four wide column">
          <h4 class="ui inverted header">Blesdaze Properties</h4>
          <div class="ui inverted link list">
            <a href="/about" class="item">About</a>
            <a href="/services" class="item">Services</a>
            <a href="/testimonials" class="item">Testimonials</a>
            <a href="/contact-us" class="item">Contact Us</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Home Listings</h4>
          <div class="ui inverted link list">
            <a href="/home-listings?type=forSale" class="item">For sale</a>
            <a href="/home-listings?type=forRent" class="item">For rent</a>
            <a href="/home-listings" class="item">All</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Follow us</h4>
          <div class="ui inverted link list social-links">
            <a href="https://www.facebook.com/blesdazeproperties" class="item" target="_blank">
              <i class="facebook square icon"></i>
              Facebook
            </a>
          </div>
        </div>
        <div class="four wide column siteFooter__address">
          <p>
            Blesdaze Properties LLC<br>
            PO Box 38073<br>
            Charlotte NC 28278-8073<br>
            <a href="tel:+17045265278" title="Blesdaze Properties phone number">704-526-5278</a>
          </p>
        </div>
      </div>

      <div class="siteFooter__copyright row">
        <div class="six wide centered column">
          <div class="ui tiny images">
            <img class="ui image" src="images/equal-housing-opportunity-logo.png" alt="Equal Housing opportunity logo">
            <img class="ui image" src="images/logo-realtor.png" alt="Realtor logo">
          </div>
        </div>
        <div class="ten wide column copyright-content">
          <p>
            &copy; 2016 Blesdaze Properties LLC. | Site handcrafted by <a href="http://joshbailey.net" target="_blank">Josh Bailey</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
