<div class="featured-testimonials">
  <div class="featured-testimonial">
    <p class="featured-testimonial-content">
      "Blesdaze Properties is managing my condo and within days showings have been scheduled..." I am glad you are already showing it, and when it is all done, I believe it will rent quickly. Thank you for your attention to all of this. You are doing a great job.
    </p>
    <div class="featured-testimonial-author">
      <strong>
        <i>
          RoseAnne I.
        </i>
      </strong>
    </div>
  </div>
  <div class="featured-testimonial">
    <p class="featured-testimonial-content">
      "I believe it will rent quickly. Thank you for your attention to all of this. You are doing a great job.
    </p>
    <div class="featured-testimonial-author">
      <strong>
        <i>
          RoseAnne II.
        </i>
      </strong>
    </div>
  </div>
  <div class="featured-testimonial">
    <p class="featured-testimonial-content">
      "Blesdaze Properties is managing my condo and within days showings have been scheduled..." I am glad you are already showing it.
    </p>
    <div class="featured-testimonial-author">
      <strong>
        <i>
          RoseAnne III.
        </i>
      </strong>
    </div>
  </div>
</div>
