@images-path: "../images";

@segment-padding: 4em;

/* Custom Modules */
@import "modules/header";
@import "modules/footer";
@import "modules/masthead";
@import "modules/button-drop-links";

/* Pages */
@import "pages/homepage/base";
@import "pages/admin";

body {
  background: #f6f8f8;
}

.PageTitle.ui.header {
  padding-top: 2em;
}

.house-listings-filter {
  padding-top: 2em;
}
.contact-form-container.ui.container {
  padding-top: 2em;
}

.login-form-container {
  padding: 2em 0;
}

.login-form {
  max-width: 450px;
}
