/**
 *  Styles for global site footer and secondary call to actions
 */
.siteFooter.ui.footer {
  margin-top: @segment-padding;
  padding-top: @segment-padding;

  .header {
    padding-bottom: 0.5em;
  }
}

.siteFooter__address {
  align-self: center;
  font-size: 1.25em;
}

.siteFooter__copyright {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.credential-images .column {
  align-self: center;
}

.ui.grid > .row > .column.copyright-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.list.social-links > .item {
  i.icon {
    font-size: 1.5em;
  }

  &:hover .facebook.icon,
  &:focus .facebook.icon {
    color: #3B5998;
  }

  &:hover .linkedin.icon,
  &:focus .linkedin.icon {
    color: #0077B5;
  }
}

.siteFooter__creditialImages .column .ui.image {
  align-self: center;
}
