.home-image-container {
  height: 250px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.home-image-placeholder {
  display: flex;
  height: 100%;

  .home-image-placeholder-icon {
    margin: auto;
    font-size: 15em;
    color: rgba(0, 0, 0, 0.1);
  }
}
