.ui.vertical.masthead.segment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 563px;
  padding: 1em 0em;

  background: url('@{images-path}/masthead-image.jpg');
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
}

.site-banner-content {
  position: relative;
  z-index: 2;
}

.masthead .ui.header.site-banner-header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.site-banner-sub-header {
  margin-top: 0.25em;
}

.site-banner-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 1;

  background: rgba(0, 0, 0, 0.45);
  // background: rgba(249,195,34,0.3);
}

@media only screen and (max-width: 700px) {
  .masthead .ui.header.site-banner-header {
    font-size: 3em;
  }

  .site-banner-sub-header {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 480px) {
  .masthead .ui.header.site-banner-header {
    font-size: 2.5em;
  }

  .site-banner-sub-header {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 850px) {
  .ui.vertical.masthead.segment {
    height: 385px;
  }
}

@media only screen and (max-width: 580px) {
  .ui.vertical.masthead.segment {
    height: 275px;
  }
}
