.ui.vertical.masthead.segment {
  display:flex;
  min-height: 500px;
  padding: 1em 0em;

  background: url('@{images-path}/masthead-placeholder.jpg');
  background-size: cover;

  & > .ui.text.container {
    margin: auto;
  }
}

.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
