<section>
  <div class="ui container">
    <h1 class="PageTitle ui header">
      The Blesdaze Properties Story
    </h1>
  </div>
</section>

<section class="ui basic segment history-story">
  <div class="ui container">
    <h3 class="ui header">
      History of the company
    </h3>
    <p>Blesdaze Properties purchased seven houses in Lancaster South Carolina in September 2008. This was the initial launch of our company. We renovated all the houses on the street and later secured additional properties in that immediate community in 2009. Our vision was to have a drug-free community that reflected excellence. With the assistance of local and state governments, Blesdaze accomplished its goals in that community. Over the years, Blesdaze went on to grow throughout Lancaster, Mecklenburg, and York Counties. We have added services of property management and realty services.</p>

    <p>
      Having just ended seven years of being in business, we celebrate our success, by announcing our newly enhanced Mission Statement.
    </p>

    <div class="mission-statement">
      <p>
        Hope, Help and Home
      </p>
    </div>

    <p>
      Our mission is to give families <strong>hope</strong> and whenever possible <strong>help</strong> them in their times of crisis. Blesdaze Properties and Realty Services is very fortunate to have each tenant and property management client. We pray that our tenants, find our houses to be a place where they develop a <strong>home</strong> filled with love.
    </p>
   </div>
</section>

<section class="ui basic segment owner-story">
  <div class="ui container">
    <h3 class="ui header">
      A little bit about the owner
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error officia modi rerum et nulla fugiat, aperiam. Hic a recusandae magnam porro debitis omnis reiciendis aliquid, possimus maxime. Necessitatibus, quod, voluptatum!
    </p>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </p>
  </div>
</section>
