<section>
  <div class="ui container">
    <h1 class="PageTitle ui header">
      The Blesdaze Properties Story
    </h1>
  </div>
</section>

<section class="ui basic segment history-story">
  <div class="ui container">
    <h3 class="ui header">
      History of the company
    </h3>
    <p>
      Blesdaze Property Management is locally owned and operated as a full service property management company. We have been actively operated for nearly 10 years. We provide real estate services from acquisition and real estate management, For tenants, we provide assistance in finding your rental home, management of your tenant relationship during the lease terms, and transition, if desired, to the process of homeownership.
    </p>

    <p>
      We are experts in real estate management and real estate services.
    </p>

    <p>
      Our mission is to give families <strong>hope</strong> and whenever possible <strong>help</strong> them in their times of crisis. Blesdaze Properties and Realty Services is very fortunate to have each tenant and property management client. We pray that our tenants, find our houses to be a place where they develop a <strong>home</strong> filled with love.
    </p>
   </div>
</section>

<section class="ui basic segment owner-story">
  <div class="ui container">
    <h3 class="ui header">
      Why rent from Blesdaze Properties
    </h3>
    <p>
      The landlord-tenant relationship is one of the most important for the occupant of a home they do not own. Choosing the right management company to associate with is critical. The home you will be occupying has to be treated with the care and dignity that you would treat a property you own. Thus, understanding and documenting the property condition at move-in and working timely and diligently with the property managers at move-out to resolve any issues is critical.
    </p>
    <p>
      As a tenant, you are entrusted with a great responsibility and we appreciate the trust you have put in our owner and our company to ensure you have an enjoyable rental experience.
    </p>
  </div>
</section>

<section class="ui basic segment owner-story">
  <div class="ui container">
    <h3 class="ui header">
      A little bit about the owner
    </h3>
    <p>
      As a previous healthcare executive, I learned the importance of developing strong relationships with others. I was very successful in working with several businesses, vendors, and countless others to form one of the most effective operational departments in the healthcare industry. Using those same skills, Blesdaze Properties was formed. I became an investor in real estate and soon found the love for helping others in their housing needs. I purchased homes in areas of challenge so I could help the less fortunate. I have since grown and developed a property management and realty services business. Now a licensed real estate agent, I can assist you, your family and your business in your real estate needs.
    </p>
    <p>
      Please contact us and I pledge that you will be pleased. Thank you for your business.
    </p>
  </div>
</section>
