<section>
  <div class="ui container">
    <h1 class="PageTitle ui header">
      The Blesdaze Properties Story
    </h1>
  </div>
</section>

<section class="ui basic segment history-story">
  <div class="ui container">
    <h3 class="ui header">
      History of the company
    </h3>
    <p>
      Blesdaze Properties is locally owned and operated. We have been actively operated for nearly 10 years. We have purchased properties for rental purposes. For our tenants, we provide assistance in finding rental homes. We ensure they understand our process of home rental regarding our lease and we encourage them in homeownership. We are experts in real estate services.
    </p>

    <p>
      Our mission is to give families <strong>hope</strong> and whenever possible <strong>help</strong> them in their times of crisis. Blesdaze Properties and Realty Services is very fortunate to have each tenant and property management client. We pray that our tenants, find our houses to be a place where they develop a <strong>home</strong> filled with love.
    </p>
   </div>
</section>

<section class="ui basic segment owner-story">
  <div class="ui container">
    <h3 class="ui header">
      Why rent from Blesdaze Properties
    </h3>
    <p>
      The landlord-tenant relationship is very important for the occupant of the home. As a tenant, the home they will occupy must be treated with the care and dignity. Therefore, Blesdaze Properties ensures that we document our property condition at move-in. We also ensure all needed work on the property is completed timely so the tenant can enjoy the comfort of the home. As a tenant, you are entrusted with a great responsibility. We appreciate you as a tenant and wish that you have an enjoyable rental experience.
    </p>
  </div>
</section>

<section class="ui basic segment owner-story">
  <div class="ui container">
    <h3 class="ui header">
      A little bit about the owner
    </h3>
    <p>
      As a previous healthcare executive, I learned the importance of developing strong relationships with others. I was very successful in working with several businesses, vendors, and countless others to form one of the most effective operational departments in the healthcare industry. Using those same skills, Blesdaze Properties was formed. I became an investor in real estate and soon found the love for helping others in their housing needs. I purchased homes in areas of challenge so I could help the less fortunate. I have since grown and developed a strong real estate business. We are proud of our success!
    </p>
  </div>
</section>
