<section class="ui grid container house-listings">
  <div class="row">
    <div class="eight wide column house-listings-filter">
      <span><strong>Listing Type: </strong> </span>
      {{#ui-dropdown class="inline" onChange=(action 'listTypeSelectionChange')}}
        <div class="text"> {{listingTypeSelection}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
        {{#each listingTypes as |listingType|}}
          <div class="item">
            {{listingType}}
          </div>
        {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
  </div>

  <div class="row">
    <div class="ui two cards houses">
      {{#each model as |home|}}
        {{home-card home=home}}
      {{/each}}
    </div>
  </div>

</section>
