<div class="ui container services">
  <h1 class="PageTitle ui header services-title">
    How we manage our homes
    <div class="sub header">
      We manage the complete landlord/tenant relationship relating to our real estate assets. Our various properties range from houses, condos and apartment homes. All properties are unique. We are available year round to meet our tenants to discuss their specific needs and address concerns. Our tenants have full access to our staff and do not have to worry about dealing with issue in their home. Blesdaze Prpoerties conducts preventative maintenance and inspection of its properties to ensure the home is comfortable for the tenants and their families. We understand our tenants want peace of mind and relief from the daily stress of their rental property.
    </div>
  </h1>

  <section class="service-list">
    <div class="ui grid">

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Tenants Carefully Screened</h3>
          <p class="service-list-sub-item">Verification of current and past rental history.</p>
          <p class="service-list-sub-item">Credit checks through national Credit Reporting Agency.</p>
          <p class="service-list-sub-item">Eviction checks.</p>
          <p class="service-list-sub-item">National and State Criminal Background checks.</p>
          <p class="service-list-sub-item">Employment income verification (verbal and written confirmation).</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Rental Kharma</h3>
          <p class="service-list-sub-item">We work with a reporting agency to assist tenants in reporting rent payments to all credit bureaus.</p>
          <p class="service-list-sub-item"><a href="http://www.myfes.net/Tmassey">http://www.myfes.net/Tmassey</a></p>
          <p class="service-list-sub-item">
            <a href="tel:19732808705">973-280-8705</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Move-In</h3>
          <p class="service-list-sub-item">Prepare lease. Our lease address clearly the expectations of both the tenant and for our company.</p>
          <p class="service-list-sub-item">Have tenant pay deposit immediately upon approval.</p>
          <p class="service-list-sub-item">Perform move-in inspections.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Effective Maintenance</h3>
          <p class="service-list-sub-item">We maintain record of all work orders.</p>
          <p class="service-list-sub-item">Bill tenant for repairs that are determined to be their responsibility.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Routine Inspections</h3>
          <p class="service-list-sub-item">Move-in/move- out inspections at tenant turnover.r</p>
          <p class="service-list-sub-item">Annual interior inspections – allowing for preventive maintenance to be done before small maintenance problems become big costly repairs.</p>
          <p class="service-list-sub-item">Periodic drive-by exterior inspections - is tenant maintaining property?</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Tenant Relationships</h3>
          <p class="service-list-sub-item">Prompt response and attention to tenant concerns.</p>
          <p class="service-list-sub-item">Prompt response to maintenance requests.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Rent Collection</h3>
          <p class="service-list-sub-item">Collection of rent and deposits, timely collection notices.</p>
          <p class="service-list-sub-item">Coordination of evictions, when necessary – including appearing in eviction proceedings in court. We also physically serve notices to our tenants for unpaid or late payments.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Vacancy</h3>
          <p class="service-list-sub-item">Send tenant letter outlining move-out requirements and guidelines for return of security deposit.</p>
          <p class="service-list-sub-item">Perform move-out inspection.</p>
          <p class="service-list-sub-item">Complete security deposit reconciliation – tenant is charged for all items they should be held liable, including damage above normal wear and tear, cleaning, unpaid rent and other charges</p>
          <p class="service-list-sub-item">We monitor the condition of our property and work needing to be done.</p>
          <p class="service-list-sub-item">Complete coordination of turn-around work following move-out, including turning utilities on so maintenance can be performed and property can be shown, re-keying all locks.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Advertising of Rental Properties</h3>
          <p class="service-list-sub-item">Rental Vacancy Listing is posted on our website.</p>
          <p class="service-list-sub-item">Placement of professional “For Rent” signs on vacant properties.</p>
          <p class="service-list-sub-item">Property showings as requested.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">Ann's Window Fashion</h3>
          <p class="service-list-sub-item">Our partner and preferred vendor, Ann’s Window Fashions is expert and ready to guide you through the interior design and once you have purchased or rented your home. The team is committed to fast, professional, courteous and personal service to help you understand and feel at ease as your transition into your new home. The team is prepared to serve the York County and Greater Charlotte areas. Consultations can be arranged by contacting us by email or phone listed.</p>
          <p class="service-list-sub-item">
            <div class="ui medium rounded images">
              <img src="http://res.cloudinary.com/dvc1fhbvs/image/upload/v1464864019/pic2_nz0qxq.jpg">
              <img src="http://res.cloudinary.com/dvc1fhbvs/image/upload/v1464864018/ann_yluvi8.jpg">
              <img src="http://res.cloudinary.com/dvc1fhbvs/image/upload/v1464864019/drapery1_k4ybex.jpg">
              <img src="http://res.cloudinary.com/dvc1fhbvs/image/upload/v1464864019/drapery4_ljgfst.jpg">
              <img src="http://res.cloudinary.com/dvc1fhbvs/image/upload/v1464864019/drapery2_flmiaj.jpg">
              <img src="http://res.cloudinary.com/dvc1fhbvs/image/upload/v1464864019/drapery3_xmkyra.jpg">
            </div>
          </p>
        </div>
      </div>

    </div>
  </section>
</div>
