<div class="ui container services">
  <h1 class="PageTitle ui header services-title">
    What we do
    <div class="sub header">
      To sell a house is one of life’s greatest challenges. Additionally, to sell may not be the best option for such a valuable asset in today's economy. Your house can be a long term investment. <strong>Why not rent or lease your house?</strong>
    </div>
  </h1>

  <section class="service-list">
    <div class="ui grid">

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">We list your house for prospective tenants</h3>
          <p class="service-list-sub-item">Using Multiple Listing Services and other online web-based rental sites, we will advertise your house for rent.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">We screen and select the best tenant</h3>
          <p class="service-list-sub-item">Conducting a financial and criminal check on each potential tenant</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">We provide the rent/lease agreement to the tenant</h3>
          <p class="service-list-sub-item">Blesdaze Properties will write a lease tailored to you needs. We will enforce and execute the lease for compliance</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">We conduct background checks on the tenant</h3>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header">We collect the rent or lease payments</h3>
          <p class="service-list-sub-item">Blesdaze will ensure your month rent payments are deposited in your account each month. You do not need to worry about collecting the rent.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">We manage maintenance concerns for your house such as plumbing, HVAC, etc.</h3>
          <p class="service-list-sub-item">The tenants contact Blesdaze for any maintenance concerns. Blesdaze will ensure the repairs are made and you will be notify upon completion.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3 class="ui header service-list-item">We evict tenants if necessary</h3>
          <p class="service-list-sub-item">Sometimes tenants will not comply, if this happens, Blesdaze will legally remove the tenant from the property</p>
        </div>
      </div>

    </div>
  </section>
</div>
