<div class="ui container">
  <h1 class="PageTitle ui header">
    What we do
    <div class="sub header">
      To sell a house is one of life’s greatest challenges. Additionally, to sell may not be the best option for such a valuable asset in today's economy. Your house can be a long term investment. <strong>Why not rent or lease your house?</strong>
    </div>
  </h1>

  {{!-- <div class="ui two column centered grid">
    <div class="column">
      <h3 class="ui header">
        Blesdaze Properties, an acquisition and property management group, is here to assist in all of your needs. We offer the following services:
      </h3>
    </div>
  </div> --}}

  <section class="ServiceList">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          <h3 class="ui header">We list your house for prospective tenants</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat tenetur, aspernatur ut nesciunt pariatur repudiandae.</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="ui header">We screen and select the best tenant</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat tenetur, aspernatur ut nesciunt pariatur repudiandae.</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="ui header">We provide the rent / lease agreement to the tenant</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab omnis minus, sunt, nobis eum quaerat autem assumenda maiores, non at optio quasi iure facilis ipsa ducimus aut ut eaque delectus!</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="ui header">We conduct background checks on the tenant</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="ui header">We collect the rent or lease payments</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi laboriosam ipsa, expedita odio magni accusantium consectetur, quod architecto. Dolorum sunt molestiae beatae labore numquam. Laudantium accusantium maxime aliquid repudiandae, non.</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="ui header">We manage maintenance concerns for your house such as plumbing, HVAC, etc.</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="ui header">We evict tenants if necessary</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa quibusdam tempora inventore sequi blanditiis vitae repudiandae ratione iste. Totam eos velit at maiores ea ipsa debitis voluptatem cumque nesciunt.</p>
        </div>
      </div>
    </div>
  </section>
</div>
