{{drop-zone
  url=url
  paramName=paramName
  acceptedFiles=acceptedFiles
  autoProcessQueue=autoProcessQueue
  addRemoveLinks=addRemoveLinks
  dictDefaultMessage=defaultMessage
  addedfile=(action 'addedfile')
  sending=(action 'sending')
}}

<div class="home-photo-actions">
  <button class="ui button" {{action "uploadPhotos"}}>Upload Photos</button>
</div>
