<div class="home-photo-image-container">
  <img src={{photo.thumbnailSecureUrl}} alt="photo of home" class="ui fluid image home-photo-image">
  <div class="home-photo-image-actions">
    <button {{action 'deletePhoto'}} class="ui red icon button home-photo-image-action">
      <i class="delete icon"></i>
      Delete
    </button>
  </div>
</div>
